:root {
    font-size: 18px;

    --primary: oklch(55% 0.07 70);
    --primary-medium: oklch(65% 0.07 70);
    --primary-dark: oklch(42% 0.07 70);
    --cream: oklch(98% 0.01 70);
}

section {
    padding-block: 5rem;

    &:nth-of-type(even) {
        background-color: var(--cream);
        border-block: 1px solid var(--primary);
    }
}

h1, h2 {
    line-height: 1.2;
    color: var(--primary-dark);
}

h1 {
    font-size: 3rem;
    margin-bottom: 0.8rem;
}

h2 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
}

p {
    margin-block: 1rem;
    line-height: 1.8;
    font-weight: 300;
}

a {
    color: var(--primary);
    text-decoration: none;
    font-weight: 600;

    &:hover {
        text-decoration: underline;
        color: var(--primary-dark);
    }
}

.no-wrap {
    white-space: nowrap;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding-inline: 2rem;

    @media (max-width: 500px) {
        padding-inline: 1rem;
    }
}

.inline-image-right {
    float: right;
    margin-left: 2rem;
}

.inline-image-left {
    float: left;
    margin-right: 2rem;
}

.inline-image {
    border-radius: 10px;
    margin-bottom: 1.5rem;
    object-fit: cover;

    @media (max-width: 600px) {
        margin-inline: auto;
        float: unset;
    }
}
